body{
    width: 1000px;
    height: 600px;
    background-color: rgb(90, 90, 90);
    border-radius: 20px;
    margin-left: 460px;
    margin-top: 200px;
    padding:20px ;
}


@font-face {
    font-family: "font";
    src: url("https://fonts.gstatic.com/s/telex/v18/ieVw2Y1fKWmIO-fUDVs.woff2");
}


html{
    background-color: rgb(255, 255, 255);
    font-family: "font";
}

h1{
    margin-left: 200px;
}

#zeile{
    display: flex;
    flex-direction: row;
}

.zeileninfo{
    margin-left: 100px;
}

#persons{
    margin-left: 500px;
}

#projects{
    overflow-y: auto;
    
}

.persons{
    position: absolute;
    left: 650px; 
    top: 0;     
    margin-left: 0; 
}

.projectName{
  margin-left: 100px;  
}

.project{
   display: flex;
   flex-direction: row; 
   position: relative;
}