#body{
    width: 94.5vw;
    height: 92.5vh;
    background-color: #c5d6a1;
    border-radius: 0px;
    margin: 0px;
    padding: 20px ;
    overflow-y: scroll;
}

body{
    padding:0px
}


@font-face {
    font-family: "font";
    src: url("https://fonts.gstatic.com/s/telex/v18/ieVw2Y1fKWmIO-fUDVs.woff2");
}


html{
    background-color: rgb(255, 255, 255);
    font-family: "font";
    
}




#zeile{
    display: flex;
    flex-direction: row;
    
}

.zeileninfo{
    margin-left: 100px;
}

#persons{
    margin-left: 500px;
}

#projects{
    overflow-y: auto;
    
}

.persons{
    position: absolute;
    margin-left: 665px; 
}

.projectName{
  margin-left: 100px;  
}

.project{
   display: flex;
   flex-direction: row; 
   position: relative;
    width: 1000px; 
}

button{
    background-color: #7fbcab;
    color: black;
    margin-top: 25px;
    margin-left: 800px;
    width: 90px;
    height: 45px;
    border-radius: 10px;
    font-size: 15px;
    display: block;
    z-index: 0;
}

input{
   background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-top: 0px;
    margin-left: 400px;
    width: 300px;
    height: 25px;
    border-radius: 5px;
    font-size: 15px;  
}

.info{
 background-color: rgba(255, 255, 255, 0);
    color: black;
    margin-top: 0px;
    margin-left: 500px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 5px;  
}

h1, .h1{
    margin-left: 25px;
    font-size: 30px;
    width: 600px;
    height: 40px;
}

select{
   background-color: rgb(255, 255, 255);
    color: black;
    margin-top: 15px;
    margin-left: 450px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 5px;   
}

.project{
    border-radius: 20px;

}

#startime{
    font-size:20px;
    margin-left:450px;
}

#timeleft{
    font-size:40px;
    margin-left:500px;
}



img{
  width: 225px;  
  height: 73.2px;
  margin-bottom: 25px;
}


.flex{
    display: flex;
    flex-direction: row;
}















