#body{
    width: 1200px;
    height: 700px;
    background-color: rgb(50, 130, 205);
    border-radius: 20px;
    margin-left: 340px;
    margin-top: 90px;
    padding:20px ;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow-y: auto;
}


@font-face {
    font-family: "font";
    src: url("https://fonts.gstatic.com/s/telex/v18/ieVw2Y1fKWmIO-fUDVs.woff2");
}


html{
    background-color: rgb(255, 255, 255);
    font-family: "font";
    
}




a{
    background-color: rgb(216, 58, 58) ;
    margin-top: 25px;
    margin-left: 1450px;
    border-radius: 10px;
    font-size: 15px;
    position: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}


.info{
 background-color: rgba(255, 255, 255, 0);
    color: black;
    margin-top: 0px;
    margin-left: 10px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    font-size: 25px;
    margin-bottom: 5px;  
}

h1, .h1{
    margin-left: 550px;
    font-size: 30px;
    width: 650px;
    height: 40px;
}

table,td {
  border: 1px solid;
  border-collapse: collapse;
  min-height: 5px;
}

table{
    margin: 25px;
    margin-left: 5px;
    margin-right: 5px;
    width: 500px;
    overflow-y: scroll;
    max-width: 500px;
}

.tableTopic{
 background-color: rgb(180, 180, 180) ;
}


